* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.container {
  margin-top: 2em;
  text-align: center;
}
.done {
  text-decoration: line-through;
}
.imp {
  font-weight: 700;
}
button {
  margin: 10px
}
.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  padding: 5px 10px;
  font-size: 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 260px;
}
.filter-area input{
  width: 300px;
}